
<mat-card>
    <form (submit)="OnAddPost(postform)" #postform ="ngForm">
    <mat-form-field >
        <input matInput
            type="text" 
            ngModel required
            placeholder="Post Title" 
            name='title' 
        #title="ngModel" >
        <mat-error *ngIf="title.invalid">Please enter a post title </mat-error>
    </mat-form-field>
    <mat-form-field >
        <textarea
            placeholder="Post Content"
            matInput 
            rows="6"
            ngModel required
            name ='content'
            #content="ngModel" >
        </textarea>
        <mat-error *ngIf="content.invalid">Please enter a post Content </mat-error>
    </mat-form-field>
        <button 
            mat-raised-button
            color = "primary"
            type="submit">
            save Post
        </button>
    </form>
</mat-card>

